.main_container img{
    width: 80px;
    margin: 6%;
}

.bg{
    background-color: rgb(186, 186, 186);
    margin: 2%;
    width: 24%;
}

.result_container button{
    font-size: small;
    margin-left: 10%;
    padding: 20%;
    border-radius: 5px;
    background-color: rgb(64, 64, 64);
    color: white;
}

.result_container span{
    margin-left: 10px;
}

.result_container{
    display: flex;
}

.main_container div{
    margin-left: 2%;
}

.inp{
    display: flex;
}

.inp button{
    background-color: purple;
    color: white;
    padding: 4%;
    border-radius: 3px;
}

.inp input{
    border :2px solid purple; 
}

.main_container{
    display: flex;
    justify-content:flex-start;
    gap: 2%;
    align-items:center;
    text-align: center;
}

.search_container{
    display:block;
    margin-left: 3%;
    justify-content: flex-start;
    align-items: center;
}

.search_container input{
    font-size: larger;
}